{% extends 'base.html.twig' %}

{% block title %}Ma commande
{% endblock %}

{% block content %}

	<h1 class="mt-3">Confirmation commande</h1>

	<p>
		Merci M/Mme{{order.user.firstName}}
		{{order.user.lastName}}
	</p><br><br>

	<p>
		Votre commande de reference
		{{order.reference}}
		A été annulé veuillez la recommencer ici
		<a href="{{path('order')}}"></a>
	</p>
	<hr>


{% endblock %}
